logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
 
node_modules
dist
dist-ssr
*.local
 
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
bin/
obj/
*.user
*.userosscache
*.suo
*.sln.docstates
*.dll
*.exe
*.pdb
*.cache/
.vs/
*.csproj.user
*.csproj.vspscc
*.dbmdl
*.opendb
*.config
*.vsix
*.msi
*.vsp
 
.idea/
.idea_modules/
.idea/workspace.xml
.idea/libraries/
.idea/.rider/
.idea/.idea_modules/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/.dotnetcore/
.idea/modules/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sonarlint/
 
*.version/
.vscode/.razor/
.vscode/.csproj.user/
 
*.iobj
*.idb
*.ilk
*.tlog
*.log
*.vspscc
*.ruleset
*.ruleset.ruleset
*.rsp
*.cachefile
 
web.config
app.config
connectionstrings.config
entityframework.config
